name: Lint GitHub Actions workflows

on:
  push:

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Check workflow files
        uses: docker://rhymond/github-action-actionlint:latest
        with:
          args: -color